body{
    padding-top: 0px;
    /* background-color: black; */
}

.search-container{
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

input#name{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    color: aliceblue;
    background-color: rgba(169, 169, 169, 0.527);
    border: 1px solid #D0CFCE;
    border-radius: 25px;
    outline: none;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: -30px;
}

::placeholder { 
  color: rgba(202, 202, 202, 0.733);
  opacity: 1; 
}

.buttonDisplay{
  font-family: 'Lucida Sans', 'Lucida Sans Regular',  Verdana, sans-serif;
  color: #FFFFFF;
  background-color: rgba(128, 128, 128, 0.377);
  text-align: center;
  padding: 1px 40px;
  height: 35px;
  font-size: 1em;
  position: absolute;
  top: -2em;
  right: 20vw;
}

button{
  background-color: rgb(167, 167, 167);
  border-radius: 8px;
  padding-top: 0;
  height: 40px;
}

.rating{
  display: flex;
  flex-direction: row;
  padding: 0;  
}

.filteraz{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.filterOrigen{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.search-icon{
    position: relative;
    float: right;
    width: 25px;
    height: 25px;
    top: -65px;
    right: 5px;    
}

.search-icon:hover{
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.filterOrder {
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  padding-top: 0em;
  padding-right: 2em;
  padding-bottom: 5px;
  
}

select {
  width: 90%;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #d6d6d6d3;
  background-color: #b2b2b254;
  font-size: 15px;
  font-weight: 500;
}

.inputStart {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #d6d6d6d3;
  background-color: #b2b2b254;
  font-size: 15px;
  color: black;
  font-weight: 500;
  
}

.inputStart::placeholder { 
  color: rgb(0, 0, 0);
  opacity: 1;
  font-weight: 500;
}
