.home {
    display: flex;
    flex-direction: row;
}
.gridcontainer {
    padding-top: 16em;
    padding-bottom: 5em;
    padding-left: 9em;
    padding-right: 7em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    grid-gap: 1em; 
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-direction: normal;
    text-rendering: optimizeLegibility; 
}

.allYourGames{
    color: azure;
    font-size: 23px;
    top: 205px;
    left: 150px;
    position: absolute;    
    text-align: center;
}
.searching{
    color: azure;
    font-size: 50px;
    top: 160px;
    width: 85%;
    position: absolute;    
    text-align: center;
}

.dontFoundSearching{
    color: azure;
    font-size: 30px;
    top: 280px;
    width: 90%;
    position: absolute;    
    text-align: center;
}
