.home {
    display: flex;
    flex-direction: row;
}
.grid-container {
    padding-top: 16em;
    padding-bottom: 5em;
    padding-left: 0em;
    padding-right: 7em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    grid-gap: 1em; 
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-direction: normal;
    text-rendering: optimizeLegibility; 
}

.searching{
    color: azure;
    font-size: 60px;
    width: 300px;
    text-align: center;
}
