body{
    display: block;
	position: relative;
	background:url('./img/backgroundNavBar.jpg');
    background-size: 100%;
}

.header{
    background-color: rgba(169, 169, 169, 0.15);
    padding: 0em 3em;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
}

.imageLogo {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
	padding: 0px;

    top: 2em;
    left: 20vw;
}
.imageLogo:hover {
    width: 5.3rem;
    height: 5.3rem;
    cursor: pointer;
}

.createGameNavBar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',  Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 2px;
    font-size: 1.4em;
    position: absolute;
	padding: 35px 10px 30px 10px;
    margin-right: 80px;
    top: 0.4em;
    right: 15vw;
}

.createGameNavBar:link {
    text-decoration: none;
    color: #FFFFFF;
  }
.createGameNavBar:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
.createGameNavBar:hover {
    text-decoration: none;
    color: #777777;
}

